{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<div id="content-main" class="detail">
<h2>{% trans 'Tem certeza?' %}</h2>
<p>{% blocktranslate %}
Ao restaurar esse backup, todo o conteúdo atual do site vai ser perdido,
<strong>inclusive a lista de backups</strong>. Tenha certeza de ter
em mãos, no seu computador, um backup do estado atual do site, caso algo
dê errado. {% endblocktranslate %}
</p>
<form method="post">
{% csrf_token %}
<div class="submit-row">
  <input class="default" type="submit" name="_restore" value="{% trans 'Confirmar restauração' %}">
  <input type="submit" name="_restorecancel" value="{% trans 'Cancelar' %}">
</div>
</form>
</div>
{% endblock %}
