.input-wrapper .barcode-icon,
#changelist-search .barcode-icon {
  padding: 0;
  margin: 0 4px;
}

.searchbar-line label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#toolbar #searchbar {
  height: unset;
}

.barcode-video-wrapper button,
.barcode-button {
  cursor: pointer;
  border: 1px solid var(--border-color);
  background: var(--body-bg);
  border-radius: 4px;
  box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
}

.barcode-button[disabled] {
  opacity: 0.4;
}

.barcode-video-wrapper {
  position: absolute;
  display: none;
  width: fit-content;
  margin-inline: auto;
  background: var(--body-bg);
  flex-direction: column;
  max-width: 90%;
}

.barcode-video-wrapper button {
  margin-bottom: 8px;
  align-self: flex-end;
  min-width: 100px;
}

.barcode-video {
  border-radius: 4px;
  z-index: 5;
}

.searchbar-line,
.input-wrapper {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: stretch;
  flex-wrap: wrap;
}

.input-wrapper input[type="button"] {
  margin: 0;
}

.searchbar-line .small {
  align-self: center;
}
